@model Library.Pading.ReviewPagin
@using Library.Helpers
@{
    ViewBag.Title = "GetReviews";
}

@using (Html.BeginForm("Index", "Guest", FormMethod.Post, new { @class = "form" }))
{

    <h3 class="center">Add a comment</h3>
    <br />
    <br />
    <br />
    <form>
        
        <div class="form-group">
            <label for="reviewName">Name</label>
            @Html.EditorFor(model => model.Review.ReviewName);
            @Html.ValidationMessageFor(x => x.Review.ReviewName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="reviewText">Text</label>
            <br />
            @Html.TextAreaFor(model => model.Review.ReviewText, "form-control")
            @Html.ValidationMessageFor(x => x.Review.ReviewText, "", new { @class = "text-danger" })
        </div>
        <br />
        <button type="submit" name="comment">Comment</button>
    </form>
}
<br />
<br />
<br />

<div>

    @foreach (var review in Model.IndexViewReview.Reviews)
    {
        <div>
            <h3>@review.ReviewName</h3>
            <br />
            <p>@review.ReviewText</p>
            <p>@review.ReviewDate</p>
            <br />
        </div>
        <hr />
    }
</div>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.IndexViewReview.PageInfo, x => Url.Action("Index", new { page = x }));
</div>
